!!!5
%html
  %head
    //Meta Information
    
    %title="Dublin Boat Crawl | Pints and a Boat"
    %meta{:name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0;"}
    %meta{:content => "A pub crawl by boat launching in March 2015", :name => "description"}/
    %meta{:content => "boat, stag night, hen party, pub, tourism, ireland, dublin, things to do in dublin", :name => "keywords"}/

    %meta{:name => "og:title", :content => "A Pub Crawl by Boat"}
    //%meta{:name => "og:type", :content => "website"}
    //%meta{:name => "og:url", :content => "http://dublinboatcrawl.com"}
    //%meta{:name => "og:image", :content => ""}
    //%meta{:name => "og:site_name", :content => ""}
    //%meta{:name => "og:admins", :content => ""}
    %meta{:name => "og:description", :content => "Dublin Boat Crawl is launching in March 2015"}




    //Stylesheets
    
    %link{:rel => "stylesheet", :href => "//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" }
    %link{:rel => "stylesheet", :href => "bower_components/remodal/dist/jquery.remodal.css" }
    %link{:rel => "stylesheet", :href => "assets/css/application.css.css"}
  %body
    .remodal-bg
      .remodal{ :data => {:remodal_id => "modal"}}
        .modal
          %h4 Interested in finding out more?
          %h1 Fill out the form below!
          <!-- BEGIN Podio web form -->
          <script src="https://podio.com/webforms/9484680/695806.js"></script>
          <script type="text/javascript">
          _podioWebForm.render("695806")
          </script>
          <div class="podio-webform-container">
          Get your <a href="https://company.podio.com/collaboration-software" class="podio-webform-inner">free webform</a> from Podio
          </div>
          <!-- END Podio web form -->
          %br
          %a.btn-hollow.btn-mini.btn-accent{:href => "#"} No thanks, take me back...


      %header.company-hero
        %img{:src => "assets/images/dublinboatcrawl-logo-square.png"} 
        %h1 A Pub Crawl By Boat Along Dublin's Coast!
        %h4 Setting Sail March 2015
        %a{:href => "#modal"}
          %button.btn-huge.btn-solid.btn-accent Get in Touch!
        %ul
          %li
            %a{:href => "http://twitter.com/DublinBoatCrawl"}
              <i class="fa fa-twitter"></i>
          %li
            %a{:href => "http://facebook.com/DublinBoatCrawl"}
              <i class="fa fa-facebook"></i>
          %li
            %a{:href => "http://instagram.com/DublinBoatCrawl"}
              <i class="fa fa-instagram"></i>
      %footer
      // Scripts
      %script{:type => "text/javascript", :src => "bower_components/jquery/dist/jquery.min.js"}
      %script{:type => "text/javascript", :src => "bower_components/remodal/dist/jquery.remodal.min.js"}  
